
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ladies Night</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link rel="icon" href="Ladies Night.PNG" type="image/gif" sizes="16x16">
    <!-- <div id="top"> -->
    <!-- <img src="Creme Pie.PNG" width="100px"; height="100px"> -->
    <div id="nav">
      <ul>
        <li><form action="index">
          <input type="image" src="r.PNG" alt="Submit" width="100" height="100" style="padding-top:30px;">
        </form></li>
         <li><form action="menu">
          <input type="image" src="r(3).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
         <li><form action="order">
          <input type="image" src="r(1).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
        <div class="logo">
        <li><img src="Lady Nights.PNG" width="200px" height="200px"></li>
        </div>
        <li><form action="aboutus">
          <input type="image" src="r(4).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
        <li><form action="contact">
          <input type="image" src="r(5).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
        <li><form action="wine">
          <input type="image" src="r(2).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
      </ul>
      <!-- banners -->
      <div class="ribbon-wrapper">
  <h3 class="ribbon">

<strong class="ribbon-inner">Ladies Night</strong>
</h3>
</div>
    </div>
    <body>
      <h1>About Us</h1>
      <div class="page">

        <img src="store.jpg" style="
      margin-left: 60px;
      width: 500px;
      height: 500px;">
      <h3 style="
    margin-top: 125.72;">To Our Beloved Customers,

Thank you so much for fifteen years of love and support. We truly cherish our neighborhoods and it’s hard to believe we’ve already been here fifteen years! It means everything to us that you’ve embraced Billy’s and made us a part of the local fabric. Thank you!

As many of you know, we met in school about 25 years ago (but who’s counting) with a pretty simple idea—to provide delicious moments and treats from your local neighborhood bakery.

Each day at Billy’s, everything is still made from scratch. From our (pretty well known) Icebox Cake to our (pretty darn well known) Red Velvet Cupcakes—it’s as real as our grandmothers used to make. For us, that smell when you walk into a real local bakery is almost as important as the taste. And we’re never going to lose that. For Billy's, it's all about real ingredients, authentic recipes, and real people making it happen.

Stop by our shops in Chelsea, Tribeca, Upper West Side or the Food Hall at The Plaza Hotel —and let our family take care of yours. Join us, as we Celebrate Homemade.

Sincerely,

Co-Founders Nadira</h3>
      </div>


    </body>
