<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ladies Night</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link rel="icon" href="Ladies Night.PNG" type="image/gif" sizes="16x16">
    <!-- <div id="top"> -->
    <!-- <img src="Creme Pie.PNG" width="100px"; height="100px"> -->
    <div id="nav">
      <ul>
        <li><form action="index">
          <input type="image" src="r.PNG" alt="Submit" width="100" height="100" style="padding-top:30px;">
        </form></li>
         <li><form action="menu">
          <input type="image" src="r(3).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
        
        <div class="logo">
        <li><img src="Lady Nights.PNG" width="200px" height="200px"></li>
        </div>
        <li><form action="aboutus">
          <input type="image" src="r(4).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
        <li><form action="contact">
          <input type="image" src="r(5).PNG" alt="Submit" width="100" height="100"style="padding-top:30px;">
        </form></li>
    
      </ul>
      <!-- banners -->
      <div class="ribbon-wrapper">
  <h3 class="ribbon">

<strong class="ribbon-inner">Ladies Night</strong>
</h3>
</div>
    </div>
<body>
<form action="contact" method="POST" id="user-form">
<h1>Contact Us</h1>
<h3 style="
    margin-top: 125.72;
    margin-bottom: 112.72;
    margin-right: 22px;
	font-size: 80px;
    text-align: center;
    ">
<input type="text" name="firstname" value="First Name: " style="height:50; width:250" ><br>
 <input type="text" name="lastname" value="Last Name: "style="height:50; width:250"><br>
 <input type="text" name="lastname" value="Email: "style="height:50; width:250;"><br>
 <input type="text" value="Cell Phone:" name="num_phone" id="phone" style="height:50; width:250;"><br><br>
<input type="submit" value="Submit""style="height:50; width:250;">
</h3>
</form> 
</body>
</html>