#top img{
  margin-left: 0px;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 127px;
  margin-bottom: -140;

}
li img{
padding: 0;
}
#nav{
  position:relative;
  margin-left: 90px;
  background: white;
  /* padding:5px; */
  width: 80%;
}
#nav::after {
  position:absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content:" ";
  background:
  radial-gradient(circle at 50% 0%, white 25%, #535353 26%, rgba(233, 83, 92, 0.3) 40%);
  background-color: rgba(233, 83, 92, 0.3);
  background-size:50px 100px;
  height:50px;
  background-repeat: repeat-x;
}


li {
  float:left;

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #1e2e36 none repeat scroll top left;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
}

.ribbon-wrapper {
  position: relative;
  z-index: 1;
  margin: 5% auto;
}

h1.post-title {
  visibility: hidden;
  width: 0;
  height: 0;
}

.ribbon {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 10px;
  padding: 0;
  font-size: 20px!important;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  background: #f35b5b;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  margin: 2em auto 2em;
  margin-right: 55px;
  margin-left: -35px;
}

.ribbon:after,
.ribbon:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #d74545;
  z-index: -1
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent
}

.ribbon .ribbon-inner:after,
.ribbon .ribbon-inner:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #b23232 transparent transparent;
  bottom: -1em
}

.ribbon .ribbon-inner:before {
  left: 0;
  border-width: 1em 0 0 1em
}

.ribbon .ribbon-inner:after {
  right: 0;
  border-width: 1em 1em 0 0
}
body{
  background-image: url(https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/rDtN98Qoishumwih/mickeyredpaper-12-091815-707_thumb.jpg);
}
#grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  /* padding: 2px; */
  background-color: rgba(233, 83, 92, 0.3);
}
.img1{
    margin-left: 160px;
}
#Baked{
  background-color: rgba(233, 83, 92, 0.76);
  color: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
}
.page{
  background-color: rgba(233, 83, 92, 0.76);
  color: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
h1{
  background-color: rgba(233, 83, 92, 0.76);
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
}
h2,h3{
  color: rgba(233, 83, 92, 0.76);
  background-color: #fff;
}
h5{
  background-color: rgba(233, 83, 92, 0.76);
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-family:  'Open Sans', sans-serif;
}
.before{
border-color: 3px solid #fff;
}
